[submodule "libs/ncorpos_utilidades"]
	path = libs/ncorpos_utilidades
	url = https://github.com/potalej/ncorpos-utilidades
[submodule "libs/ncorpos_valores_iniciais"]
	path = libs/ncorpos_valores_iniciais
	url = https://github.com/potalej/ncorpos-valores-iniciais
