# Arquivos compilados
*.slo
*.lo
*.o
*.obj

# Arquivos de módulos
*.mod
*.smod

# Executáveis
*.exe

# build
/build


### arquivos anteriores
# serve para manipular arquivos txt. Substituído pelo arquivos.f90, que manipula CSV
arquivostxt.f90 