# Arquivos compilados
*.slo
*.lo
*.o
*.obj

# Arquivos de modulos
*.mod
*.smod

# Executaveis
*.exe
gravidade*

# build
/build

# CMake
CMakeCache.txt
CMakeFiles/

### arquivos anteriores
# serve para manipular arquivos txt. Substituído pelo arquivos.f90, que manipula CSV
arquivostxt.f90 

# Pasta de saidas
/out/*

# resultados de simulações
/data/*
# Resultaods de plots
/plot/*

# Presets gerados automaticamente
presets/auto_vi

# Outros
/outros

# Para testes
teste/
/tests
pyutils/*
presets/*

# do Python
__pycache__